.my__technologies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0;
}
.my__technologies h1{
    color: #fff;
    font-size: 40px;
    padding: 2rem;
    margin-right: 40rem;
}
.my__technologies-progress__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 8rem;
}
.my__technologies-bullet__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8rem;
    grid-row-gap:1rem;
}





@media screen and (max-width: 990px) {
    .my__projects h1{
    font-size: 30px;
    padding-bottom: 1.5rem;

    }
}
@media screen and (max-width:850px){
 .my__technologies h1{
    margin-right: 15rem;
 }
}
@media screen and (max-width:650px){
    .my__technologies h1{
    font-size: 25px;
    padding-bottom: 1rem;
    } 
}
@media screen and (max-width:450px){
.my__technologies h1{
    margin-right: 12rem;
}
}