.my__cursor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-out;
  transition-property: width, height;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.774); 
  filter: blur(30px);
}

.my__cursor:hover {
  width: 40px;
  height: 40px;
}

