.gradientbutton{

}
.gradientbutton button{
   
    color:#fff;
    border:none;
    border-radius: 100px;
    padding: 10px 20px;
    transition: all 1s ease;
}
.gradientbutton button:hover{
    background: rgb(124,221,185);
    background: linear-gradient(228deg, rgba(124,221,185,1) 0%, rgba(114,189,238,1) 34%, rgba(169,122,215,1) 100%);
}