.my__aboutme{
    position: relative;
}
.my__aboutme h1{
    color: #fff;
    font-size: 40px;
    padding: 5rem 0 2rem ;
}
.my__aboutme-line {
    position: absolute;
    top: 52% ;
    left: 13%;
    width: 58rem;
    height: 1px;
    background-color: #fff;
    z-index: -1;
    
}
.my__aboutme-points{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.my__aboutme-points_each{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.my__aboutme-points_each h3{
    margin-bottom: 0.7rem;
}
.my__aboutme-points_each p{
    margin-top: 2rem;
    font-size: 16px;
    color: var(  --color-text);
    word-wrap: break-word; 
    width: 270px;
}
.my__aboutme-points_each span{
    font-size: 16px;
    color: var(   --color-text);
}
.my__aboutme-points h3{
    color: #fff;
}
.my__aboutme-points p{
    color: #fff;
}
