*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background: var(--color-bg);
  font-family: var(--font-family);
}
a{
  color: unset;
  text-decoration: none;
}
.gradient__bg{
  
      background: -moz-radial-gradient(ellipse at 0% 4%, rgba(28, 66, 120, 0.8) 0%, rgba(19, 36, 130, 0.8) 16%, rgba(0, 4, 13, 1) 76%);
  
      background: -webkit-radial-gradient(ellipse at 0% 4%, rgba(28, 66, 120, 0.8) 0%, rgba(19, 36, 130, 0.8) 16%, rgba(0, 4, 13, 1) 76%);
  
      background: -o-radial-gradient(ellipse at 0% 4%, rgba(28, 66, 120, 0.8) 0%, rgba(19, 36, 130, 0.8) 16%, rgba(0, 4, 13, 1) 76%);
  
      background: -ms-radial-gradient(ellipse at 0% 4%, rgba(28, 66, 120, 0.8) 0%, rgba(19, 36, 130, 0.8) 16%, rgba(0, 4, 13, 1) 76%);
  
      background: radial-gradient(ellipse at 0% 4%, rgba(28, 66, 120, 0.8) 0%, rgba(19, 36, 130, 0.8) 16%, rgba(0, 4, 13, 1) 76%);
  
              
}

.gradient__text{
  background:var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.section__padding{
padding: 2rem 6rem;
}
.section__margin{
  margin: 4rem 6rem;
  }
.scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (max-width:700px) {
  .section__padding{
      padding: 4rem;
      }
      .section__margin{
          margin: 4rem;
          }
}
@media screen and (max-width:550px) {
  .section__padding{
      padding: 4rem 2rem;
      }
      .section__margin{
          margin: 4rem 2rem;
          }
}