.my__projects{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.my__projects h1{
    color: #fff;
    font-size: 40px;
    padding-bottom: 1rem;
}
.my__projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:2rem;
}


@media screen and (max-width:1050px){
}

@media screen and (max-width: 990px) {
    .my__projects h1{
    font-size: 30px;
    padding-bottom: 1.5rem;

    }
}
@media screen and (max-width:850px){
 .my__projects-wrapper{
    grid-template-columns: 1fr;
    
 }
 .my__projects h1{

 }
}
@media screen and (max-width:650px){
    .my__projects h1{
    font-size: 25px;
    padding-bottom: 1rem;
    
    } 
}
@media screen and (max-width:450px){
.my__projects h1{
}
}