.my__projects{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.my__projects h1{
    color: #fff;
    font-size: 40px;
    padding: 2rem 0;
}
.my__projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

}


@media screen and (max-width:1050px){
}

@media screen and (max-width: 990px) {
    .my__projects h1 {
    font-size: 25px;
    }
}
@media screen and (max-width:850px){
 .my__projects-wrapper{
 grid-column-gap: 4rem;
    
 }

}
@media screen and (max-width:650px){
    .my__projects h1 {
    font-size: 20px;
    padding-bottom: 1rem;
    
    } 
}
@media screen and (max-width:450px){
    .my__projects{
        padding-left: 1.5rem;
    }
    .my__projects h1{
        font-size: 25px;
        
        } 
    .my__projects-wrapper{
        grid-template-columns:1fr;
       
    }
}
@media screen and (max-width:380px){
.my__projects{
    padding: 0;
}

}